@container .image-slideshow {
    position: relative;
    margin: auto;
}

.image-on-text {
    position: absolute;
    margin: -555px 20px;
    padding: 3rem;
}

.image-slideshow p {
    display: inline;
    font-size: 3.5rem;
    container-name: image-slideshow;
    color: white;
}

.image-slideshow p:nth-child(2) {
    color: #ffc107;
}


.image-slideshow img {
    width: 100%;
    height: 580px;
    object-fit: cover;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
