<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <!-- carousel wrap -->
    <div class="carousel-wrap">
      <!-- carousel left button -->
      <button class="carousel-button carousel-button-left">&lt;</button>
      <!-- carousel images -->
      <ul class="carousel-flex">
        <li>
          <article>
            <img
              class="carousel-image"
              src="../public/carousel/berries.jpg"
              alt="#"
            />
          </article>
        </li>
        <li>
          <article>
            <img
              class="carousel-image"
              src="../public/carousel/pizza.jpg"
              alt="#"
            />
          </article>
        </li>
        <li>
          <article>
            <img
              class="carousel-image"
              src="../public/carousel/salmon.jpg"
              alt="#"
            />
          </article>
        </li>
      </ul>
      <!-- carousel right button -->
      <button class="carousel-button carousel-button-right">&gt;</button>
    </div>
    <script src="../js/carousel.js"></script>
  </body>
</html>
