/* 2. footer */
.footer {
    padding: 24px;
    margin-top: 16px;
    background-color: darkgray;
}

.footer-main-img {
    height: 100px;
}

.footer-nav-img {
    height: 60px;
    margin-right: 10px;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-info {
    margin-top: 10px;
}
