/* 5. modal */
.modal-wrap {
    width: 100vw;
    height: 150vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}
h2,
label,
input,
button {
    font-family: KBO-Dia-Gothic_bold;
}

.modal1 {
    max-width: 560px;
    min-height: 300px;
    background-color: white;
    border-radius: 5px;
    border: 3px solid;
    margin: 30vh auto;
    padding: 40px;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-close-btn {
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.modal-label {
    font-size: 1.25rem;
    margin-right: 20px;
}

.modal-input-wrap {
    margin-top: 20px;
    display: flex;
}

.modal-input {
    padding: 6px 10px;
    border: 1px solid rgba(62, 69, 81, 0.7);
    font-size: 1.2rem;
    font-family: KBO-Dia-Gothic_bold;
    border-radius: 5px;
}

.modal-submit {
    background-color: grey;
    padding: 20px;
    font-size: 1.25rem;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
    font-family: KBO-Dia-Gothic_bold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal-cancel {
    background-color: black;
    padding: 20px;
    font-size: 1.25rem;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
    font-family: KBO-Dia-Gothic_bold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal-warn {
    background-color: darkred;
    padding: 20px;
    font-size: 1.25rem;
    border-radius: 5px;
    margin-right: 20px;
    color: white;
    font-family: KBO-Dia-Gothic_bold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
