<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.recrip.mapper.AttractionMapper">
	<select id="attrInfoList" parameterType="map" resultType="attractionDto">
		select * from attraction_info where sido_code = #{sido_code} and gugun_code = #{gugun_code}
		<if test="word != null and word != ''">
			and title like concat('%', #{word}, '%')
		</if>
		<if test="contentid != null and contentid.size != 0">
			and content_type_id in 
			<foreach collection="contentid" item="arr" open="(" close=")" separator=",">
 				#{arr}
			</foreach>
		</if>
	</select>
	
	<select id="listSido"  resultType="sidoDto">
		select sido_code, sido_name
		from sido;
	</select>
	<select id="listGugun" parameterType="string" resultType="gugunDto">
		select gugun_code, gugun_name
		from gugun
		where sido_code=#{sido_code};
	</select>
	<insert id="insertRank" parameterType="rankdto">
		insert into
		attrank(content_id, score, sido_code, gugun_code)
		values(#{content_id},#{score},#{sido_code},#{gugun_code})
	</insert>
	<select id="selectRank" resultType="rankDto">
		select content_id, score, sido_code, gugun_code
		from attrank
	</select>
	<update id="updateRank" parameterType="rankDto">
		update attrank set score = #{score}, sido_code = #{sido_code}, gugun_code = #{gugun_code}
		where content_id = #{content_id}
	</update>
	<update id="addrating" parameterType="map">
		update attraction_info set rating = #{rating} where content_id = #{content_id}
	</update>
</mapper>