<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.recrip.mapper.BoardMapper">

	<sql id="search">
		<if test="word != null and word != ''">
			<if test="key == 'subject'">
				and subject like concat('%', #{word}, '%')
			</if>
			<if test="key != 'subject'">
				and ${key} = #{word}
			</if>
		</if>
	</sql>

	<select id="boardList" parameterType="map" resultType="boardDto">
		select *
		from ${table}
		where isdelete = false
		<include refid="search"></include>
		order by articleno desc
		limit #{start}, #{listsize}
	</select>
	
	<select id="getTotalListCount" parameterType="map" resultType="int">
		select count(articleno)
		from ${table}
		where isdelete = false
		<include refid="search"></include>
	</select>
  	
  	<insert id="freeBoardWrite" parameterType="boardDto">
  		insert into freeboard (userid, subject, content)
  		values (#{userid}, #{subject}, #{content})
  	</insert>
  	
  	<insert id="reviewBoardWrite" parameterType="boardDto">
  		insert into reviewboard (userid, subject, content)
  		values (#{userid}, #{subject}, #{content})
  	</insert>
  	
  	<update id="freeBoardDelete" parameterType="string">
  		update freeboard set isdelete = true where articleno = #{articleno}
  	</update>
  	
  	<update id="reviewBoardDelete" parameterType="string">
  		update reviewboard set isdelete = true where articleno = #{articleno}
  	</update>
  	
  	<update id="freeBoardUpdate" parameterType="boardDto">
  		update freeboard set subject = #{subject}, content = #{content} where articleno = #{articleno}
  	</update>
  	
  	<update id="reviewBoardUpdate" parameterType="boardDto">
  		update reviewboard set subject = #{subject}, content = #{content} where articleno = #{articleno}
  	</update>
  	
  	<select id="freeBoardView" parameterType="string" resultType="boardDto">
  		select * from freeboard where isdelete = false and articleno = #{articleno}
  	</select>
  	
  	<select id="reviewBoardView" parameterType="string" resultType="boardDto">
  		select * from reviewboard where isdelete = false and articleno = #{articleno}
  	</select>
  	
  	<select id="freeCommentList" parameterType="string" resultType="commentDto">
  		select * from freecomment where isdelete = false and articleno = #{articleno}
  	</select>
  	
  	<select id="reviewCommentList" parameterType="string" resultType="commentDto">
  		select * from reviewcomment where isdelete = false and articleno = #{articleno}
  	</select>
  	
  	<insert id="freeCommentWrite" parameterType="commentDto">
  		insert into freecomment (articleno, userid, content)
  		values (#{articleno}, #{userid}, #{content})
  	</insert>
  	
  	<insert id="reviewCommentWrite" parameterType="commentDto">
  		insert into reviewcomment (articleno, userid, content)
  		values (#{articleno}, #{userid}, #{content})
  	</insert>
  	
  	<update id="freeCommentDelete" parameterType="string">
  		update freecomment set isdelete = true where commentno = #{commentno}
  	</update>
  	
  	<update id="reviewCommentDelete" parameterType="string">
  		update reviewcomment set isdelete = true where commentno = #{commentno}
  	</update>
  	
  	<select id="freeBoardFileList" parameterType="string">
  		select from freeboardfiles where articleno = #{articleno};
  	</select>
  	
  	<select id="reviewBoardFileList" parameterType="string">
  		select from reviewboardfiles where articleno = #{articleno};
  	</select>
  	
  	<insert id="freeBoardFileWrite" parameterType="fileDto">
  		insert into freeboardfiles (articleno, url, filename) values (#{articleno}, #{url}, #{filename})
  	</insert>
  	
  	<insert id="reviewBoardFileWrite" parameterType="fileDto">
  		insert into reviewboardfiles (articleno, url, filename) values (#{articleno}, #{url}, #{filename})
  	</insert>
</mapper>