<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.recrip.mapper.MemberMapper">
	<insert id="memberInsert" parameterType="memdto">
		insert into
		members(userid, username, userpwd, profile, token)
		values(#{userid},#{username},#{userpwd},#{profile}, #{token})
	</insert>
	<select id="login" parameterType="memdto" resultType="memdto">
		select
		userid, username , userpwd, isdelete,profile, token
		from members
		where userid = #{userid}
		and userpwd = #{userpwd}
		and isdelete = false
	</select>
	<select id="selectDeleted" resultType="memdto">
		select
		userid, username , userpwd, isdelete,profile, token
		from members
		WHERE isdelete = true;
	</select>
	<update id="memberUpdate" parameterType="memdto">
		update members set userpwd = #{userpwd}, username = #{username}, profile = #{profile}
		where userid = #{userid}
	</update>
	<delete id="memberDelete" parameterType="String">
		update members set isdelete = 1
		where userid = #{userid}
	</delete>
	<delete id="memberPermaDelete" parameterType="String">
		delete from members 
		where userid = #{userid}
		AND isdelete = true;
	</delete>
	<select id="histroyList" parameterType="String" resultType="wishHisDto">
		select * from historylist
		where userid = #{userid}
	</select>
	<select id="wishList" parameterType="String" resultType="wishHisDto">
		select * from wishlist
		where userid = #{userid}
	</select>
	<select id="courseList" parameterType="String" resultType="courseDto">
		select * from courselist
		where userid = #{userid}
	</select>
	<insert id="histroyInsert" parameterType="wishHisDto">
		insert into historylist (userid, contentid) values (#{userid}, #{contentid})
	</insert>
	<insert id="wishInsert" parameterType="wishHisDto">
		insert into wishlist (userid, contentid) values (#{userid}, #{contentid})
	</insert>
	<insert id="courseInsert" parameterType="wishHisDto">
		insert into courselist (userid, contentid, groupno) values (#{userid}, #{contentid}, #{groupno})
	</insert>
	<delete id="historydelete" parameterType="string">
		delete from historylist where contentid = #{contentid}
	</delete>
	<delete id="wishdelete" parameterType="string">
		delete from wishlist where contentid = #{contentid}
	</delete>
	<delete id="coursedelete" parameterType="string">
		delete from courselist where groupno = #{groupno}
	</delete>
	<select id="findMaxGroupno" resultType="string">
		select groupno from courselist order by groupno desc limit 1;
	</select>
	<select id="messageList" parameterType="String" resultType="messageDto">
		select * from message
		where isdelete = 0 and to = #{userid}
	</select>
	<insert id="messageinsert" parameterType="messageDto">
		insert into message (fromid, toid, subject, content) values (#{fromid}, #{toid}, #{subject}, #{content})
	</insert>
	<delete id="messagedelete" parameterType="string">
		delete from message where messageno = #{messageno}
	</delete>
</mapper>
  