<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.ssafy.recrip.model.BoardDto" alias="boardDto"/>
  	<typeAlias type="com.ssafy.recrip.model.CommentDto" alias="commentDto"/>
  	<typeAlias type="com.ssafy.recrip.model.MemberDto" alias="memDto"/>
  	<typeAlias type="com.ssafy.recrip.model.FileDto" alias="fileDto"/>
  	<typeAlias type="com.ssafy.recrip.model.SidoDto" alias="sidoDto"/>
  	<typeAlias type="com.ssafy.recrip.model.GugunDto" alias="gugunDto"/>
  	<typeAlias type="com.ssafy.recrip.model.RankDto" alias="rankDto"/>
  	<typeAlias type="com.ssafy.recrip.model.WishHisDto" alias="wishHisDto"/>
  	<typeAlias type="com.ssafy.recrip.model.MessageDto" alias="messageDto"/>
  	<typeAlias type="com.ssafy.recrip.model.CourseDto" alias="courseDto"/>
  	<typeAlias type="com.ssafy.recrip.model.AttractionDto" alias="attractionDto"/>
  </typeAliases>
  <mappers>
    <mapper resource="mybatis/BoardMapper.xml"/>
    <mapper resource="mybatis/MemberMapper.xml"/>
    <mapper resource="mybatis/AttractionMapper.xml"/>
  </mappers>
</configuration>